body{
    background-color: darkgray;
}

h1{
    text-align: center;
}

li{
    font-size: large;
    padding-bottom: .5em;
}

#validation-summary{
    color: rgb(145, 0, 0);
    list-style-type: none;
    margin: auto;
    padding-left: 0px;
    width: 25%;
}

#top-centered{
    max-width: fit-content;
    margin: auto;
    padding-bottom: 1em;
    text-align: center;
}

#top-centered > input[type="text"]{
    margin: .5em;
    padding: 1em;
    text-align: center;
}

#bottom-centered{
    max-width: fit-content;
    margin: auto;
    text-align: center;
}

#bottom-centered > input{
    padding: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

select{
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
}

input[type="button"]{
    cursor: pointer;
    border-radius: .5em;
    border: 1px solid black;
}

input[type="button"]:hover{
    background-color: rgb(247, 247, 247);
}

#display{
    text-align: center;
}

.rating-error{
    font-style: italic;
    font-weight: bolder;
}